#hero{
  min-height: 100vh;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(242, 252, 243);
  color:rgb(7, 69, 63);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav{
  background-color: rgb(7, 69, 63);
  color: white;
}
nav ul{
  list-style-type: none;
  display: flex;
}
nav li{
  padding : 12px;
}
nav a{
  color: white;
}


h1 {
  font-size: 2em;
  color: rgb(7, 69, 63);
  text-align: left;
} 


main{
  padding: 24px;
}
*/

#main-bienvenue .card{
  background-color: #F6F797;
}

canvas {
  border: 1px solid #000;
} 