{% extends 'layout.html' %}

{% block title %}
Form chart
{% endblock %}


{% block h1 %}
Company quotation Form
{% endblock %}


{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('bienvenue')}}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">File download</li>
    </ol>
</nav>

<main class="container p-5 overflow-hidden" style="min-height: 56vh">
    <h2 class="h4 pb-2">Choisir le nom de la société</h2>
    <div class="row">
        <div class="col">
            <form method="post" action=" {{url_for('form_chart')}} " class="border p-2 bg-light text-dark rounded">

                <label for="companyName" class="form-label">Société recherchée:</label>
                <input type="text" name="companyName" class="form-action" required><br>
                <input type="submit" value="Valider" class="btn btn-primary">
            </form>
        </div>
    </div>

</main>


{% endblock %}