{% extends 'layout.html' %} {% block title %} Recherche company {% endblock %}
{% block h1%} Latest News {% endblock %} {% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('bienvenue')}}">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">News</li>
  </ol>
</nav>
<main class="container p-4" style="min-height: 56vh">
  <h2 class="h4 pb-5">
    Quel est le nom de la société dont vous voulez connaitre les dernières
    actualités?
  </h2>

  <form method="post" action=" {{ url_for('infos_company')}} " class="border p-2 bg-light text-dark rounded">
    <label for="companyName" class="form-label">Saisir une entreprise dans le champ ci dessous</label>
    <input type="text" class="form-control" name="companyName" required /><br />

    <input type="submit" value="Valider" class="btn btn-primary" />
  </form>
</main>
{% endblock %}