<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add Plotly CDN for rendering the chart -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>{% block title %}
        {% endblock %}</title>
</head>

<body>
    {% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">@carozum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        <a class="nav-link " aria-current="page" href="{{ url_for('bienvenue') }}">Accueil</a>
                        <a class="nav-link" aria-current="page" href="{{ url_for('infos_company') }}">Infos
                            Company</a>
                        <a class="nav-link" href="{{ url_for('form_file') }}">Statistiques</a>
                        <a class="nav-link" href="{{ url_for('form_chart') }}">Quotations</a>
                        <a class="nav-link" href="{{ url_for('feed_model') }}">Feed Mnist</a>
                        <a class="nav-link" href="{{ url_for('draw') }}">Drawing Mnist</a>
                        <a class="nav-link" href="{{ url_for('utilisateurs_inscrits') }}">Backend-users</a>
                        <a class="nav-link" href="{{ url_for('logs') }}">Backend-logs</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}


    {% block content %}
    {% endblock %}

    {% block footer%}
    <footer class="bg-primary text-light text-center pt-3 pb-3 border-top">
        Made with enthousiasm by Carozum - jan 2024
    </footer>
    {% endblock %}
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>