<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add Plotly CDN for rendering the chart -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>{% block title %}
        {% endblock %}</title>
</head>

<body>
    {% block header %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
            <div class="container-fluid ">
                <a class="navbar-brand" href="{{ url_for('index') }}">@carozum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        <a class="nav-link pl-5" aria-current="page" href="{{ url_for('bienvenue') }}">Accueil</a>
                        <a class="nav-link pl-3" aria-current="page" href="{{ url_for('infos_company') }}">News</a>
                        <a class="nav-link pl-3" href="{{ url_for('form_file') }}">Stats</a>
                        <a class="nav-link pl-3" href="{{ url_for('form_chart') }}">Quotations</a>
                        <a class="nav-link pl-3" href="{{ url_for('feed_model') }}">Feed</a>
                        <a class="nav-link pl-3" href="{{ url_for('draw') }}">Draw</a>
                        <a class="nav-link pl-3" href="{{ url_for('utilisateurs_inscrits') }}">Users</a>
                        <a class="nav-link pl-3" href="{{ url_for('logs') }}">Logs</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% endblock %}


    {% block hero%}
    <div class="hero-page container-fluid bg-light p-5 ">
        <div class="row align-items-center justify-content-center p-2">
            <h1 class="col-md-10 col-lg-6 text-center">
                {% block h1%}
                {% endblock %}
            </h1>
        </div>
    </div>
    {% endblock %}


    {% block content %}
    {% endblock %}

    {% block footer%}
    <footer class="bg-primary text-light text-center pt-3 pb-3 border-top container-fluid">
        Made with enthousiasm by Carozum - jan 2024
    </footer>
    {% endblock %}
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>