<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateurs Inscrits</title>
</head>

<body>
    <h1>Utilisateurs Inscrits</h1>
    <div class="content">
        {% for user in users %}
        <div class="user">
            <p><b>#{{ user.id }}</b></p>
            <b>
                <p class="name">{{ user.nom }} {{ user.prenom }}</p>
            </b>
            <p>Sexe: {{ user.sexe }}</p>
            <p>Pseudo : {{ user.pseudo }}</p>
            <p>Titre: {{ user.titre }}</p>
        </div>
        {% endfor %}
    </div>
</body>

</html>