{% extends 'layout.html' %}

{% block title %}
Utilisateurs inscrits
{% endblock %}

{% block h1 %}
Utilisateurs Inscrits
{% endblock%}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('bienvenue')}}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
    </ol>
</nav>

<main class="container p-4 overflow-hidden" style="min-height: 56vh">
    <h2 class="h4 pb-2">Liste des utilisateurs inscrits</h2>
    <div class="content">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Sex</th>
                    <th>Pseudo</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.sexe }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.titre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</main>

{% endblock %}